<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Nathan For Us">
      {assigns[:page_title]}
    </.live_title>
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.nathanforus.com/" />
    <meta property="og:title" content="Nathan For Us" />
    <meta property="og:description" content="A place for fans of Nathan Fielder" />
    <meta property="og:image" content={~p"/images/fellow-pilot.png"} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.nathanforus.com/" />
    <meta property="twitter:title" content="Nathan For Us" />
    <meta property="twitter:description" content="A place for fans of Nathan Fielder" />
    <meta property="twitter:image" content={~p"/images/fellow-pilot.png"} />

    <!-- General -->
    <meta name="description" content="A place for fans of Nathan Fielder" />
    
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white">
    <%= if @current_user do %>
      <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
        <li class="text-[0.8125rem] leading-6 text-zinc-900">
          {@current_user.email}
        </li>
        <li>
          <.link
            href={~p"/users/settings"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Settings
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_out"}
            method="delete"
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log out
          </.link>
        </li>
      </ul>
    <% end %>
    {@inner_content}
  </body>
</html>
